<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Classroom Jukebox</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('https://raw.githubusercontent.com/aidenhuynh/cj_backend/master/src/main/resources/static/images/jukebox_bg.jpg'); /* Replace with your image path */
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    </style>
</head>

<body>

<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-5">
        <h1 class="text-center mb-5"><strong>Welcome to Classroom Jukebox</strong></h1>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="java.png" alt="Java Development" height="250">
                    <div class="card-body">
                        <h5 class="card-title">Learn Java</h5>
                        <p class="card-text">
                            Explore Java development and its latest features.
                        </p>
                        <a href="#" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" th:src = "@{/images/pojo.jpeg}" alt="Spring Development" height="250">
                    <div class="card-body">
                        <h5 class="card-title">Spring Framework</h5>
                        <p class="card-text">
                            Dive into the popular Spring framework and Spring Boot.
                        </p>
                        <a href="#" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card">
                    <img class="card-img-top" th:src = "@{/images/pojo.jpeg}" alt="Java Persistence" height="250">
                    <div class="card-body">
                        <h5 class="card-title">Persistent Data</h5>
                        <p class="card-text">
                            Learn about Java Persistent API (JPA) and ORM.
                        </p>
                        <a href="#" class="btn btn-primary">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.11/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
